################
# Local Files
################

#Temp files
app_server/*.*~
app_server/src/*.*~

#Cmake files
app_server/build/*.*
app_server/build/*.*~
app_server/build/CMakeFiles/*
app_server/build/lib/*
app_server/build/src/*

