################
# Local Files
################

#Temp files
*.*~
Appserver/src/*.*~
Appserver/src/*.*~
Appserver/src/servicio/*.*~
Appserver/src/servidor/*.*~

#RocksDB
Appserver/src/external/lib/librocksdb.a
Appserver/src/external/rocksdb/*
Appserver/utilities/rocksdb-master/*

#Build
Appserver/build/*

#Testing
Testing/*
Appserver/utilities/cpptest-1.1.2/*
ContenidoParaLasPruebas/build/
GoogleTest/build/

